* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.first {
  height: 100%;
  background-color: #fbf7ed;
  background-image: url(../../src/Assets/img/injl33v9myl51.webp);
}
.first .func {
  background-image: linear-gradient(to top, rgba(251, 247, 237, 0.7411764706), rgba(251, 247, 237, 0.8274509804));
}
.first p {
  font-size: 20px;
  line-height: 25px;
}
.first img {
  width: 100%;
}
.first .well {
  color: #004c3f;
  font-size: 25px;
  padding: 0px 20px;
  border-left: 3px solid #ae867a;
  font-weight: 600;
}
.first .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  padding-top: 7px;
  background-color: #004c3f;
  color: #fbf7ed;
  font-weight: 600;
}
.first .nav h2 span {
  text-decoration: none;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  color: inherit;
}
.first .nav ul {
  display: flex;
  margin-top: 10px;
}
.first .nav ul li {
  list-style: none;
  margin: 0px 15px;
  font-size: 17px;
}
.first .nav ul li a {
  text-decoration: none;
  color: #fbf7ed;
}
.first .datetime {
  width: 600px;
  color: #004c3f;
  padding: 15px 20px;
  border-radius: 5px;
  transition: 0.5s;
}
.first .datetime .date {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
  background-color: #004c3f;
  color: #fbf7ed;
  margin-bottom: 10px;
  padding: 10px 0px;
}
.first .datetime .time {
  font-size: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.first .datetime .time .container- {
  border: 3px solid #004c3f;
  padding: 10px 15px;
  transition: 0.5s;
  transition-property: background, box-shadow;
}
.first .datetime .time .container-:hover {
  background-color: #004c3f;
  color: #fbf7ed;
  box-shadow: 0 0 30px #004c3f;
}
.first .datetime .time h2 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 0px;
}
.first .datetime .time h4 {
  font-size: 20px;
  margin-bottom: 0px;
}
.first .long {
  background-color: #004c3f;
  height: 108px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 20px;
}
.first .long p {
  color: #fbf7ed;
  font-size: 15px;
  font-family: cursive;
  font-weight: 600;
}
.first .long button {
  border: 3px solid #fbf7ed;
  padding: 10px 35px;
  border-radius: 20px;
  color: #fbf7ed;
  margin: 20px;
  background: transparent;
}
.first .long button:hover {
  background-color: #fbf7ed;
  color: #004c3f;
}

.secondp {
  background-color: #004c3f;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.secondp .signss {
  background-image: linear-gradient(to top, rgba(0, 76, 63, 0.6392156863), rgba(0, 76, 63, 0.6862745098)), url(../../src/Assets/img/injl33v9myl51.webp);
  background-size: cover;
  background-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}
.secondp .signss p {
  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;
  color: #fbf7ed;
  font-size: 22px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
}
.secondp .navs {
  text-align: center;
  color: #004c3f;
  border: 1px solid #fbf7ed;
  font-weight: 600;
  padding: 10px 40px;
  font-size: 20px;
  text-decoration: none;
  background-color: #fbf7ed;
}
.secondp .inps {
  padding: 100px;
  background-color: #fbf7ed;
}
.secondp .inps input {
  width: 100%;
  height: 45px;
  padding: 0px 20px;
}
.secondp .inps label {
  font-size: 22px;
  margin-bottom: 7px;
  font-weight: 600;
  color: #004c3f;
}
.secondp .inps button {
  background-color: #004c3f;
  color: #fbf7ed;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 20px;
  border: none;
}
.secondp .inps button:hover {
  background-color: #013129;
}
.secondp .inp {
  padding: 20px 100px;
  background-color: #fbf7ed;
}
.secondp .inp select {
  width: 100%;
  height: 45px;
}
.secondp .inp input {
  width: 100%;
  height: 45px;
  padding: 0px 20px;
}
.secondp .inp label {
  font-size: 15px;
  margin-bottom: 7px;
  font-weight: 600;
  color: #004c3f;
}
.secondp .inp button {
  background-color: #004c3f;
  color: #fbf7ed;
  padding: 7px 30px;
  border-radius: 20px;
  font-size: 20px;
  border: none;
}
.secondp .inp button:hover {
  background-color: #013129;
}
.secondp .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  padding-top: 7px;
  background-color: #fbf7ed;
  color: #004c3f;
  font-weight: 600;
}
.secondp .nav h2 a {
  text-decoration: none;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  color: inherit;
}
.secondp .nav ul {
  display: flex;
  margin-top: 10px;
}
.secondp .nav ul li {
  list-style: none;
  margin: 0px 15px;
  font-size: 17px;
}
.secondp .nav ul li a {
  text-decoration: none;
  color: #004c3f;
}
.secondp img {
  width: 100%;
}

.third {
  background-color: #004c3f;
  color: #fbf7ed;
}
.third .carousel {
  align-items: center;
}
.third .cell1 {
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
  cursor: pointer;
  counter-increment: carousel-cell;
}
.third .cell1 .james {
  align-items: center;
  text-align: center;
}
.third .cell1 .james span {
  margin-bottom: 0px;
  font-size: 30px;
  color: #ae867a;
}
.third .cell1 .james h5 {
  font-weight: 600;
  font-size: 25px;
  color: #ae867a;
}
.third .buth button {
  width: 80%;
  height: 70px;
  margin-top: 20px;
  font-size: 27px;
  font-weight: 600;
  background-color: #fbf7ed;
  border-radius: 20px;
  transition: 0.5s;
  border: none;
  transition-property: background, box-shadow;
}
.third .buth button:hover {
  background-color: #004c3f;
  border: 3px solid #fbf7ed;
  color: #fbf7ed;
}
.third .buth span {
  font-size: 15px;
}
.third .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  padding-top: 7px;
  background-color: #004c3f;
  color: #fbf7ed;
  font-weight: 600;
}
.third .nav h2 a {
  text-decoration: none;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  color: inherit;
}
.third .nav ul {
  display: flex;
  margin-top: 10px;
}
.third .nav ul li {
  list-style: none;
  margin: 0px 15px;
  font-size: 17px;
}
.third .nav ul li a {
  text-decoration: none;
  color: #fbf7ed;
}
.third img {
  width: 100%;
}

.fifth {
  background-color: #fbf7ed;
  height: 100%;
}
.fifth .nav {
  background-color: #004c3f;
  color: #fbf7ed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
}
.fifth .nav h2, .fifth .nav h3 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
.fifth .nav p {
  margin: 0px;
}
.fifth .nav .time {
  display: flex;
}
.fifth .nav .time h2 {
  margin: 0px;
}
.fifth .counter {
  align-items: center;
  text-align: center;
  background-color: #004c3f;
  color: #fbf7ed;
  font-weight: 600;
  margin-top: 30px;
}
.fifth .center {
  text-align: left;
  color: #004c3f;
}
.fifth .center h3 {
  font-weight: 600;
}
.fifth .center .section {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}
.fifth .center .section:hover {
  border: 3px solid #004c3f;
}
.fifth .center .section p {
  margin-top: 0px;
  margin-left: 20px;
  font-size: 20px;
  margin-bottom: 0px;
}
.fifth .center .section input {
  width: 20px;
  height: 20px;
  align-items: center;
}
.fifth .down {
  background-color: #004c3f;
  color: #fbf7ed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
}
.fifth .down button {
  background-color: transparent;
  border: none;
  border: 3px solid #fbf7ed;
  color: #fbf7ed;
  padding: 10px 40px;
  font-size: 20px;
  font-weight: 600;
}
.fifth .down button:hover {
  color: #004c3f;
  background-color: #fbf7ed;
}
.fifth .down p {
  line-height: 20px;
  margin-right: 5px;
}
.fifth .down #namy, .fifth .down #nam {
  font-size: 30px;
  color: orange;
}
.fifth .down .share {
  display: flex;
  align-items: center;
}
.fifth .down img {
  width: 30%;
}/*# sourceMappingURL=style.css.map */